<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web with Backend</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
        }
        nav ul{
            display: flex;
            list-style: none;
            gap: 20px;
            background-color: red;
            padding: 10px;
            color: white;
            
        }
    </style>
</head>
<body>
    <form action="http://127.0.0.1:8000/oidc/authorize" method="post">
        <input name="email" type="text">
        <input name="password" type="text">
        <button type="submit">submit</button>
    </form>
    <h1 id="message">Sign Up</h1>
</body>
<script>
    const message =document.getElementById('message');
    
    
</script>
</html>